repos:
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    # Until we drop support for typing.List etc. We need to ensure that we don't upgrade them to list
    args: ["--py37-plus", "--keep-runtime-typing"]
- repo: https://github.com/python/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/PyCQA/flake8
  rev: 7.1.1
  hooks:
  - id: flake8
    additional_dependencies: ['flake8-bugbear==22.10.27']
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.13.0
  hooks:
  - id: mypy
    additional_dependencies: [typeguard,marshmallow]
    args: [--show-error-codes]
# Too many errors. Delaying upgrade to 1.14
# - repo: https://github.com/pre-commit/mirrors-mypy
#   rev: v1.14.1
#   hooks:
#   - id: mypy
#     additional_dependencies: [typeguard,marshmallow]
#     args: [--show-error-codes, --check-untyped-defs]
- repo: https://github.com/asottile/blacken-docs
  rev: 1.19.1
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==25.1.0]
